logs/
__pycache__/
*.pyc
.env
.venv/
infrastructure/terraform/terraform.tfvars
infrastructure/terraform/.terraform/
infrastructure/terraform/*.tfstate*

.bruin.yml
logs/runsservice-account.json

logs/runs
logs/*.log
*.py[cod]

service-account.json
logs/queries